.pull-player-to-scene-header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100px;
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.pull-player-to-scene-title {
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    text-shadow: 1px 1px 3px #000;
    color: #f0f0ee;
}
