<div class="dialog-content">
    <header class="pull-player-to-scene-header" style="background-image: url('{{thumb}}'); overflow:hidden;">
        <h3 class="pull-player-to-scene-title">{{sceneName}}</h3>
    </header>
    <!-- TODO: Localize -->
    <h2>{{localize 'pull-players-to-scene.players'}}</h2>
    <ol class="item-list" style="height: 120px; overflow: auto;">
        {{#each users}}

        <li class="items-header flexrow user">
            <input class="user-select" type="checkbox" id="{{this.id}}" />
            <label for="{{this.id}}" style="display: inline">
                <h3 class="pull-player-to-scene-player">{{this.name}}</h3>
            </label>
        </li>

        {{/each}}
    </ol>
</div>

<div class="dialog-buttons">
    <!-- TODO: Localize -->
    <button class="dialog-button pull" data-button="pull">{{localize 'pull-players-to-scene.button'}}</button>
</div>